.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #8ad8cc;
  border-radius: 4px;
  color: black;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Weather h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 40px 0 30px 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherTemperature {
  font-weight: bold;
  color: black;
  font-size: 70px;
  line-height: 0px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 30px;
  text-decoration: none;
}

.d-fix {
  margin: 10px 0;
}

.Weather .unit {
  color: black;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  color: black;
}
